<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.sap.bi.da.extension.backend">
      <da_extension
            class="com.sap.lumira.sampleextension.SampleExtension"
            id="sap.lumira.sampleextension">
      </da_extension>
   </extension>
</plugin>
